---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="page-header">
    <div
      class="page-header__bg"
      style="background-image: url(/static/assets/images/backgrounds/Gallery.png);"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li>Gallery</li>
        </ul>
        <h2>Gallery</h2>
      </div>
    </div>
  </section>
  <section class="gallery-page">
    <div class="container">
      <div
        class="row masonary-layout"
        style="position: relative; height: 3387.06px;"
      >
        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 0px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/1.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/1.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 572px; top: 0px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img
                src="/static/assets/images/gallery/378-x-824 1.png"
                alt=""
              />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/378-x-824 1.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 615px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/2.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/2.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 1231px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/3.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/3.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 572px; top: 1236px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/4.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/4.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 1846px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/5.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/5.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 572px; top: 1851px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/6.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/6.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 2462px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/7.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/7.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-3 col-lg-6 col-md-6"
          style="position: absolute; left: 572px; top: 2467px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img src="/static/assets/images/gallery/8.png" alt="" />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/8.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-6 col-lg-6 col-md-6"
          style="position: absolute; left: 0px; top: 3078px;"
        >
          <div class="gallery-page__single">
            <div class="gallery-page__img">
              <img
                src="/static/assets/images/gallery/766-x-407 1.png"
                alt=""
              />
              <div class="gallery-page__icon">
                <a
                  class="img-popup"
                  href="/static/assets/images/gallery/766-x-407 1.png"
                  ><span class="fa fa-plus"></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
