---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="page-header">
    <div
      class="page-header__bg"
      style="background-image: url(../../static/assets/images/backgrounds/services.png);"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li>Services</li>
        </ul>
        <h2>Our Services</h2>
      </div>
    </div>
  </section>
  <section class="services-page">
    <div class="container">
      <div class="section-title text-center">
        <span class="section-title__tagline">Our services</span>
        <h2 class="section-title__title">What We’re Offering</h2>
      </div>
      <div class="row">
        <h1 class="section-title__title2">
          Non-Invasive Slimming and Fat Loss Treatment
        </h1>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Emerald_Laser_Lipo.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Emerald/">Emerald Laser Lipo </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Emerald/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Hifu 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Hifu/">11 in 1 Hifu </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Hifu/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Vela-Shape- 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Vela/"
                  >Vela Shape- Body Contouring &amp; Cellulite Reduction
                </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Vela/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Vela-Shape 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Radio/"
                  >Radio Frequency - Body Sculpting &amp; Contouring
                </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Radio/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Mesolipo 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Mesolipo/">Mesolipo </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Mesolipo/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Underarm-care 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Underarm/">Underarm Care </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Underarm/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Electrocautery-Services 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Electrocautery/">Electrocautery Services </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Electrocautery/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/Sclerotherapy 1.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Sclerotherapy/">Sclerotherapy </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Sclerotherapy/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4 col-lg-4 wow fadeInUp animated"
          data-wow-delay="300ms"
          style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"
        >
          <div class="services-one__single">
            <div class="services-one__single-inner">
              <div class="services-one__shape-1">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-1.png"
                  alt=""
                />
              </div>
              <div class="services-one__shape-2">
                <img
                  src="../../static/assets/images/shapes/services-one-shape-2 4.png"
                  alt=""
                />
              </div>
              <div class="services-one__img-box">
                <div class="services-one__img">
                  <img
                    src="../../static/assets/images/services/bot.png"
                    alt=""
                  />
                </div>
                <div class="services-one__icon">
                  <span class="icon-lotus"></span>
                </div>
              </div>
              <h3 class="services-one__title">
                <a href="/N-Botulinum/">Botulinum </a>
              </h3>
              <p class="services-one__text"></p>
              <div class="services-one__btn-box">
                <a href="/N-Botulinum/" class="services-one__btn"
                  >Book now<i class="icon-right-arrow"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
