---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Contact">
  <section class="page-header">
    <div
      class="page-header__bg"
      style="background-image: url(/static/assets/images/backgrounds/Contact-us.png);"
    >
    </div>
    <div class="container">
      <div class="page-header__inner">
        <ul class="thm-breadcrumb list-unstyled">
          <li><a href="/">Home</a></li>
          <li><span>/</span></li>
          <li>Contact</li>
        </ul>
        <h2>Contact</h2>
      </div>
    </div>
  </section>
  <section class="contact-page" style="margin-top: 6rem;">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <div class="contact-page__left">
            <div class="section-title text-left">
              <span class="section-title__tagline">Contact us</span>
              <h2 class="section-title__title">Send a Message</h2>
            </div>
            <p class="contact-page__text">
              Interested in our spa services? We want your <br /> spa experience
              to be a memorable one.
            </p>
            <div class="contact-page__social">
              <a href="https://www.facebook.com/lukshotelspa"
                ><i class="fab fa-facebook"></i></a
              >
              <a href="https://www.instagram.com/luksspa.ph"
                ><i class="fab fa-instagram"></i></a
              >
              <a href="https://www.tiktok.com/@luks.spa">
                <i class="fab fa-tiktok"></i></a
              >
            </div>
            <div
              style="display: flex; flex-direction: column; gap:0.2rem; margin-top: 3rem;"
            >
              <span class="" style="font-size: 15px;"
                >Email: <a href="reservations@lukscare.com" class="con"
                  >reservations@lukscare.com</a
                ></span
              >
              <span class="" style="font-size: 15px;"
                >Contact Number:<span class="con">
                  +63 9625660420 / +043 302 1022</span
                ></span
              >
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="contact-page__right">
            <div class="contact-page__content">
              <div>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="contact-page__form-input-box">
                      <input
                        type="text"
                        placeholder="Full Name"
                        name="name"
                        id="name"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="contact-page__form-input-box">
                      <input
                        type="email"
                        placeholder="Email Address"
                        name="email"
                        id="email"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="contact-page__form-input-box">
                      <input
                        type="text"
                        placeholder="Phone"
                        name="Phone"
                        id="phone"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="contact-page__form-input-box">
                      <input
                        type="text"
                        placeholder="Subject"
                        name="Subject"
                        id="subject"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="contact-page__form-input-box text-message-box">
                    <textarea
                      name="message"
                      placeholder="Write a Message"
                      id="message"></textarea>
                  </div>
                  <div class="contact-page__btn-box">
                    <button
                      type="button"
                      id="sendEmailBtn"
                      class="thm-btn contact-page__btn">Send a message</button
                    >
                  </div>
                </div>
              </div>

              <div class="result"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page__google-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.4076194524723!2d121.06617907587254!3d13.754274886637912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd056348508d8f%3A0x690e6ebe9cf6fe53!2sLuks%20Spa%20and%20Aesthetics!5e0!3m2!1sen!2sph!4v1725359140499!5m2!1sen!2sph"
      class="google-map__one"
      allowfullscreen=""></iframe>
  </section>
</BaseLayout>
