---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
  </div><!-- /.stricky-header -->

  <!--Main Slider Start-->
  <section class="main-slider">
    <div
      class="swiper-container thm-swiper__slider"
      data-swiper-options='{"slidesPerView": 1, "loop": true,
			"effect": "fade",
			"pagination": {
			"el": "#main-slider-pagination",
			"type": "bullets",
			"clickable": true
			},
			"navigation": {
			"nextEl": "#main-slider__swiper-button-next",
			"prevEl": "#main-slider__swiper-button-prev"
			},
			"autoplay": {
			"delay": 5000
		}}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-1.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">Discover a Whole New you!</h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-2.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">Beauty and Wellness</h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-3.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">
                    Radiate the Beauty from within
                  </h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-4.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">Spa Beauty</h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-5.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">Discover a Whole New you!</h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/static/assets/images/backgrounds/bg-6.png);"
          >
          </div>
          <!-- /.image-layer -->

          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="main-slider__content">
                  <div class="main-slider__icon">
                    <svg
                      width="120"
                      height="120"
                      viewBox="0 0 212 273"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M181.336 121.178C181.136 115.178 178.536 109.678 173.636 105.578C172.036 104.178 170.136 103.078 168.036 102.178C166.636 101.678 165.136 101.278 163.536 100.978C161.936 100.678 160.336 100.578 158.536 100.478C154.336 100.378 149.936 101.178 145.436 102.778C139.536 104.978 133.736 108.678 128.936 114.178C128.236 114.978 127.536 115.878 126.836 116.778C123.236 121.778 120.736 127.878 119.036 134.478C118.236 137.478 117.636 140.678 117.236 143.878C110.136 140.078 102.936 136.377 95.5357 133.077C90.4357 130.777 85.1357 128.778 79.8357 127.178C81.1357 124.578 82.4357 121.978 83.6357 119.278C84.7357 116.878 85.7357 114.578 86.6357 112.178C93.6357 111.678 101.136 110.278 108.736 108.078C111.636 107.278 114.636 106.278 117.636 105.278C125.736 102.378 133.836 98.7776 141.636 94.3776C144.536 92.7776 147.336 90.9775 150.136 89.1775C153.736 86.7775 157.236 84.2775 160.536 81.5775C171.336 72.7775 180.336 62.4775 185.936 50.9775C186.636 49.5775 187.236 48.0775 187.836 46.5775C189.236 43.0775 190.236 39.5775 190.936 35.9775C191.636 32.2775 191.836 28.5775 191.436 25.1775C190.236 13.7775 183.536 4.77756 173.536 1.37756C167.336 -0.722444 159.936 -0.522456 151.836 2.67754C145.536 5.17754 138.736 9.47751 131.836 16.0775C128.936 18.7775 126.036 21.9775 123.136 25.4775C123.036 25.5775 123.036 25.5775 122.936 25.6775C121.936 26.8775 121.036 28.0775 120.136 29.2775C119.136 30.5775 118.236 31.8775 117.236 33.1775C112.336 40.1775 107.836 47.6775 103.836 55.2775C94.7357 72.6775 87.7357 90.7775 82.2357 105.578C82.1357 105.578 81.9357 105.578 81.8357 105.578C80.3357 105.778 78.8357 105.878 77.2357 105.878C74.8357 105.878 72.3357 105.678 70.0357 105.378C67.9357 105.078 65.8357 104.778 64.0357 104.278C59.6357 103.378 54.1357 98.1775 51.8357 90.2775C50.9357 87.1775 50.4357 83.5775 50.7357 79.7775C51.8357 67.3775 38.4357 68.9775 34.0357 76.1775C32.9357 77.8775 32.4357 79.9775 32.7357 82.2775C32.8357 82.8775 32.9357 83.3776 33.0357 83.8776C34.1357 89.0776 36.2357 93.4776 39.4357 97.3776C40.3357 98.4776 41.3357 99.5775 42.5357 100.678C47.5357 105.578 54.9357 108.378 61.6357 110.178C63.4357 110.678 65.2357 110.978 67.0357 111.278C69.8357 111.778 72.7357 112.078 75.4357 112.078C76.7357 112.078 77.9357 112.078 79.2357 112.078C77.3357 116.478 75.4357 120.678 73.2357 125.078C72.5357 124.878 71.9357 124.778 71.2357 124.578C65.5357 123.178 59.6357 122.478 53.7357 122.478C48.4357 122.478 43.1357 123.078 37.9357 124.178C27.4357 126.478 17.5357 131.278 9.53573 138.678C7.03573 141.278 4.73572 144.378 2.93572 147.878C2.23572 149.278 1.63572 150.778 1.13572 152.378C1.03572 152.878 0.835723 153.278 0.735723 153.778C0.335723 155.378 0.0357257 156.977 0.0357257 158.577C-0.264274 163.877 1.33572 168.778 4.43572 172.778C9.13572 178.978 17.2357 182.778 26.6357 181.678C26.8357 181.678 27.0357 181.577 27.3357 181.577C31.6357 181.077 35.8357 179.678 39.7357 177.678C42.4357 176.278 45.1357 174.477 47.6357 172.577C52.5357 168.677 56.9357 163.977 60.7357 159.077C61.1357 158.577 61.5357 157.978 61.9357 157.478C65.0357 153.378 67.2357 150.177 69.1357 147.077C70.0357 145.577 70.9357 144.177 71.7357 142.577C73.2357 139.877 74.8357 136.978 76.8357 133.278C80.3357 134.878 83.6357 136.677 86.8357 138.577C96.2357 144.277 104.636 151.178 112.436 157.178C113.636 158.078 114.836 158.978 116.036 159.878C115.936 165.178 116.036 170.378 116.336 175.478C116.536 179.278 116.736 182.878 117.036 186.378C117.136 187.778 117.236 189.277 117.336 190.577C118.136 200.677 118.536 212.778 116.936 224.178C115.636 233.078 113.136 241.477 108.536 248.077C107.536 249.477 106.536 250.778 105.336 251.978C104.336 253.078 103.236 254.178 102.136 255.278C96.6357 260.278 89.7357 263.678 81.1357 263.678C81.0357 263.678 80.8357 263.678 80.7357 263.678C72.2357 263.478 64.2357 259.078 57.8357 252.278C52.2357 246.278 47.8357 238.477 45.4357 230.077C44.9357 228.477 44.5357 226.777 44.2357 225.077C43.4357 220.577 43.1357 215.978 43.6357 211.478C43.7357 210.278 43.9357 208.978 44.1357 207.778C46.0357 197.378 52.1357 190.078 59.5357 185.678C68.8357 180.078 80.3357 178.978 88.3357 181.978C88.5357 182.078 88.6357 182.078 88.8357 182.178C90.8357 182.978 92.9357 184.078 94.6357 185.478C96.7357 187.178 98.3357 189.278 98.6357 191.878C98.8357 194.678 98.0357 196.677 96.6357 198.077C95.4357 199.277 93.7357 200.178 91.8357 200.778C87.2357 202.478 81.4357 203.178 78.5357 206.478C72.5357 213.578 79.7357 223.178 92.9357 219.778C99.9357 217.778 106.536 209.678 107.136 197.778C107.236 193.478 106.336 189.778 104.636 186.678C102.236 182.278 98.2357 179.078 93.4357 176.978C93.2357 176.878 92.9357 176.778 92.7357 176.678C91.4357 176.178 90.1357 175.678 88.7357 175.278C88.1357 175.078 87.5357 174.978 87.0357 174.778C76.5357 172.178 65.5357 174.777 56.1357 180.577C50.5357 183.977 45.5357 188.477 41.4357 193.577C38.9357 196.677 36.8357 199.978 35.1357 203.478C32.1357 209.478 30.5357 215.877 29.9357 222.077C29.8357 223.577 29.7357 225.178 29.7357 226.678C29.7357 234.178 31.3357 241.378 34.4357 247.778C37.8357 255.078 43.1357 261.378 49.8357 265.778C53.0357 267.878 56.5357 269.478 60.3357 270.578C64.8357 271.878 69.7357 272.478 75.0357 272.278C76.8357 272.178 78.7357 271.978 80.7357 271.778C90.5357 270.378 101.136 266.378 109.836 260.878C110.936 260.178 112.036 259.378 113.136 258.578C115.236 257.078 117.136 255.478 118.836 253.778C119.636 252.978 120.436 252.178 121.136 251.378C123.636 248.578 125.736 245.678 127.536 242.778C134.136 231.378 135.136 218.978 134.036 206.178C133.936 204.678 133.736 203.077 133.536 201.577C132.936 196.877 132.136 192.178 131.336 187.478C131.136 186.178 130.836 184.877 130.636 183.577C129.936 179.877 129.236 176.078 128.536 172.378C128.236 170.978 128.036 169.477 127.736 168.077C128.236 168.377 128.736 168.777 129.336 169.077C130.636 169.877 131.936 170.678 133.236 171.478C135.136 172.578 137.136 173.678 139.136 174.678C146.136 178.178 153.736 180.877 161.436 181.577C163.236 181.777 165.036 181.778 166.936 181.678C186.936 180.978 202.636 169.578 210.136 161.478C214.336 156.878 210.036 152.477 205.336 156.577C199.936 161.377 193.336 164.077 186.536 165.077C183.836 165.477 181.236 165.678 178.536 165.678C167.636 165.678 156.836 162.578 146.636 158.378C145.036 157.678 143.536 157.078 141.936 156.378C140.636 155.778 139.436 155.177 138.136 154.577C136.836 153.977 135.536 153.278 134.136 152.678C131.836 151.578 129.536 150.378 127.336 149.178C126.736 148.878 126.236 148.578 125.636 148.278C125.636 145.378 125.736 142.478 126.036 139.678C126.736 133.378 128.436 127.378 131.536 121.678C131.936 121.078 132.336 120.378 132.836 119.778C136.336 115.278 141.636 112.278 147.036 111.178C148.936 110.778 150.836 110.678 152.736 110.778C154.336 110.878 155.836 111.178 157.336 111.678C161.036 112.978 164.236 115.478 166.136 119.478C167.636 122.778 168.436 125.877 168.836 128.577C169.036 130.177 169.136 131.677 169.036 133.077C168.836 135.977 168.136 138.277 167.236 139.577C164.136 144.777 161.036 145.977 157.536 146.077C151.536 146.877 149.936 143.778 149.736 140.278C149.636 138.578 149.836 136.778 150.136 135.278C150.236 134.478 150.336 133.778 150.436 133.178C150.736 130.578 150.236 128.578 149.236 127.178C148.336 125.878 146.936 125.078 145.436 124.778C141.336 123.978 136.136 126.678 135.436 132.278C135.136 136.578 136.036 140.178 137.636 143.178C138.536 144.778 139.536 146.078 140.736 147.278C144.036 150.478 148.236 152.278 152.236 152.678C158.036 153.078 163.436 151.078 167.836 147.678C169.436 146.378 170.936 144.978 172.236 143.378C176.136 138.978 178.836 134.278 180.336 129.778C180.836 128.178 181.236 126.578 181.436 125.078C181.336 123.878 181.436 122.478 181.336 121.178ZM110.536 57.5775C114.736 49.3775 119.336 41.6775 124.736 34.6775C125.236 33.9775 125.736 33.3775 126.336 32.6775C127.336 31.4775 128.336 30.2775 129.336 29.0775C130.836 27.3775 132.336 25.7775 133.836 24.1775C134.436 23.4775 135.136 22.8775 135.836 22.2775C142.136 16.5775 148.736 13.9775 154.736 13.7775C160.236 13.5775 165.336 15.3775 169.236 18.5775C170.136 19.2775 170.936 20.1775 171.736 20.9775C176.736 26.5775 178.936 35.0775 176.436 44.7775C176.236 45.6775 175.936 46.5775 175.636 47.4775C175.436 48.0775 175.236 48.5775 175.036 49.1775C171.536 58.4775 166.436 66.3775 160.336 73.0775C155.636 78.1775 150.436 82.5775 144.836 86.2775C142.636 87.6775 140.436 89.0776 138.236 90.3776C131.236 94.3776 123.736 97.3775 116.436 99.7775C112.136 101.178 107.936 102.278 103.736 103.178C99.6357 104.078 95.5357 104.778 91.6357 105.378C91.1357 105.478 90.7357 105.478 90.2357 105.578C97.0357 87.9775 103.236 71.9775 110.536 57.5775ZM50.1357 162.278C48.4357 164.178 46.6357 165.978 44.6357 167.678C41.1357 170.578 37.2357 172.977 32.6357 174.577C30.2357 175.377 27.5357 175.677 24.8357 175.577C15.9357 175.177 6.83573 170.078 7.03573 160.378C6.93573 157.478 7.73572 154.578 8.93572 151.878C9.73572 150.178 10.7357 148.678 11.8357 147.178C13.1357 145.378 14.7357 143.678 16.2357 142.278C29.1357 130.378 50.8357 125.677 69.3357 131.077C69.7357 131.177 70.2357 131.378 70.6357 131.478C69.1357 134.578 66.9357 138.578 64.2357 142.878C60.1357 149.478 55.0357 156.678 50.1357 162.278Z"
                        fill="#F4F8F5"></path>
                    </svg>
                  </div>
                  <p class="main-slider__sub-title">LUKS SPA AND AESTHETICS</p>
                  <h2 class="main-slider__title">Beauty and Wellness</h2>
                  <div class="main-slider__btn-box">
                    <a href="/services/" class="thm-btn main-slider__btn"
                      >Discover more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination" id="main-slider-pagination"></div>
      <!-- If we need navigation buttons -->
    </div>
  </section>
  <!--Main Slider End-->

  <!--Welcome One Start-->
  <section class="welcome-one">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="welcome-one__left">
            <div
              class="welcome-one__img-box wow slideInLeft"
              data-wow-delay="100ms"
              data-wow-duration="2500ms"
            >
              <div class="welcome-one__img">
                <img
                  src="/static/assets/images/resources/Luks-Spa 2.png"
                  alt=""
                />
                <div class="welcome-one__shape-1 float-bob-y">
                  <img
                    src="/static/assets/images/shapes/welcome-one-shape-1 1.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div style="padding-top: 4rem;">
              <ul class="welcome-one__points list-unstyled">
                <li>
                  <div class="icon">
                    <span class="icon-special"></span>
                  </div>
                  <div class="text">
                    <h3>Special Offers</h3>
                    <!-- <p>lorem ipsum</p> -->
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="icon-gift"></span>
                  </div>
                  <div class="text">
                    <h3>Special Offers</h3>
                    <!-- <p>lorem ipsum</p> -->
                  </div>
                </li>
              </ul>
              <div class="welcome-one__btn-box">
                <a href="/services/" class="welcome-one__btn thm-btn"
                  >Discover more</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="welcome-one__right">
            <div class="section-title text-left">
              <span class="section-title__tagline">Get to know us</span>
              <h2 class="section-title__title">
                Luks Spa and Aesthetics:
                <br />Discover a Whole New You
              </h2>
            </div>
            <p class="welcome-one__text">
              In the vibrant heart of Batangas, where tradition meets modernity,
              lies a hidden sanctuary of elegance and rejuvenationLuks Spa and
              Aesthetics. Founded on the principles of luxury and innovation,
              Luks Spa was created as an oasis for those seeking not just
              relaxation, but a transformative experience. Drawing inspiration
              from the regions rich cultural heritage and the latest
              advancements in beauty and wellness, Luks Spa combines
              time-honored techniques with cutting-edge technology to offer a
              holistic journey toward self-renewal.<br /><br />
              Every detail, from the classic design of our interiors to the carefully
              curated treatments, has been crafted to elevate the senses. Our team
              of professional therapists and aestheticians are not just experts in
              their field, but passionate caretakers of your well-being. At Luks
              Spa, we believe in the power of exclusivity and personalized service,
              ensuring that each visit is a unique and unforgettable experience.
              Here, we invite you to leave the world behind and step into a realm
              where luxury meets serenity, and where the true essence of beauty is
              rediscovered.<br /><br />
              At Luks Spa and Aesthetics, our mission is to provide an unparalleled
              experience of luxury, wellness, and beauty. We are dedicated to offering
              the most advanced treatments in a serene and exclusive environment,
              where our clients can rejuvenate their minds, bodies, and spirits.
              Through our commitment to exceptional service, professional expertise,
              and innovative technology, we strive to help every individual discover
              and embrace their most confident and radiant self.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Welcome One End-->

  <!--Services One Start-->
  <section class="services-one">
    <div class="container">
      <div class="section-title text-center">
        <span class="section-title__tagline">Our services</span>
        <h2 class="section-title__title">What Were Offering</h2>
      </div>
      <div class="row" id="services"></div>
      <div class="welcome-one__btn-box1">
        <a href="/services/" class="welcome-one__btn thm-btn">Discover more</a>
      </div>
    </div>
  </section>
  <!--Services One End-->

  <!--Video One Start-->
  <section class="video-one">
    <div
      class="video-one__bg jarallax"
      data-jarallax
      data-speed="0.2"
      data-imgPosition="50% 0%"
      style="background-image: url(/static/assets/images/backgrounds/background.png);"
    >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="video-one__left">
            <div class="section-title text-left">
              <span class="section-title__tagline">What else we do</span>
              <h2 class="section-title__title">
                Get An Incredible Spa Experience with Luks Spa & Aesthetics
              </h2>
            </div>
            <div class="video-one__video-link">
              <a href="/static/assets/Lukspa.mp4" class="video-popup">
                <div class="video-one__video-icon">
                  <span class="fa fa-play"></span>
                  <i class="ripple"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="video-one__right">
            <ul class="video-one__points list-unstyled">
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Aroma Therapy</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Sauna Relax</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Lash</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Body Massage</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Body Wrap</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Hand & Feet</p>
              </li>
            </ul>
            <ul class="video-one__points video-one__points-2 list-unstyled">
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Whitening Drip</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Hair-removal</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Hot Stone</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Botox</p>
              </li>
              <li>
                <div class="icon">
                  <span class="fa fa-check"></span>
                </div>
                <p class="text">Manicure</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Video One End-->

  <!--Counter One Start-->

  <!--Counter One End-->

  <!--Process One Start-->
  <section class="process-one">
    <div class="container">
      <div class="process-one__inner">
        <div class="process-one__shape-1"></div>
        <div class="section-title text-center">
          <span class="section-title__tagline">3 easy steps</span>
          <h2 class="section-title__title">How It Works?</h2>
        </div>
        <div class="row">
          <!--Process One Single Start-->
          <div class="col-xl-4 col-lg-4">
            <div class="process-one__single">
              <div class="process-one__img-box">
                <div class="process-one__img">
                  <img src="/static/assets/images/resources/img_1.png" alt="" />
                </div>
                <div class="process-one__count"></div>
              </div>
              <h3 class="process-one__title">
                <a href="/services/">Book an appointment</a>
              </h3>
              <!-- <p class="process-one__text">Lorem ipsum dolor sit amet, consectetur notted adipisicing
														elit
														sed do eiusmod.</p> -->
            </div>
          </div>
          <!--Process One Single End-->
          <!--Process One Single Start-->
          <div class="col-xl-4 col-lg-4">
            <div class="process-one__single">
              <div class="process-one__img-box">
                <div class="process-one__img">
                  <img src="/static/assets/images/resources/img_2.png" alt="" />
                </div>
                <div class="process-one__count"></div>
              </div>
              <h3 class="process-one__title">
                <a href="/services/">Consultation</a>
              </h3>
              <!-- <p class="process-one__text">Lorem ipsum dolor sit amet, consectetur notted adipisicing
														elit
														sed do eiusmod.</p> -->
            </div>
          </div>
          <!--Process One Single End-->
          <!--Process One Single Start-->
          <div class="col-xl-4 col-lg-4">
            <div class="process-one__single">
              <div class="process-one__img-box">
                <div class="process-one__img">
                  <img src="/static/assets/images/resources/img_3.png" alt="" />
                </div>
                <div class="process-one__count"></div>
              </div>
              <h3 class="process-one__title">
                <a href="/services/">Finalizing</a>
              </h3>
              <!-- <p class="process-one__text">Lorem ipsum dolor sit amet, consectetur notted adipisicing
														elit
														sed do eiusmod.</p> -->
            </div>
          </div>
          <!--Process One Single End-->
        </div>
      </div>
    </div>
  </section>
  <!--Process One End-->

  <!--Testimonial One Start-->
  <section class="testimonial-one">
    <div class="testimonial-one__bg-box">
      <div
        class="testimonial-one__bg"
        style="background-image: url(/static/assets/images/backgrounds/testimonial-one-bg.jpg);"
      >
      </div>
    </div>
    <div class="container">
      <div class="testimonial-one__top">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="testimonial-one__left">
              <div class="section-title text-left">
                <span class="section-title__tagline">Customer Reviews</span>
                <h2 class="section-title__title">
                  What Theyre Talking About Luks Spa
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="testimonial-one__right"></div>
          </div>
        </div>
      </div>
      <div class="testimonial-one__bottom">
        <div
          class="testimonial-one__carousel thm-owl__carousel owl-theme owl-carousel"
          data-owl-options='{
								"items": 1,
								"margin": 30,
								"smartSpeed": 700,
								"loop":true,
								"autoplay": 6000,
								"nav":false,
								"dots":false,
								"navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
								"responsive":{
										"0":{
												"items":1
										},
										"768":{
												"items":2
										},
										"992":{
												"items": 2
										},
										"1200":{
												"items": 3
										}
								}
						}'
        >
          <!--Testimonial One Single Start-->
          <div class="item">
            <div class="testimonial-one__single">
              <div class="testimonial-one__icon-quote">
                <img src="/static/assets/images/icon/icon-quote.png" alt="" />
              </div>
              <div class="testimonial-one__single-inner">
                <div class="testimonial-one__rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="testimonial-one__text-2">
                  Luks Spa & Aesthetics offers a truly luxurious retreat. The
                  massage was expertly done, and the entire experience was
                  enhanced by the serene atmosphere and the skilled
                  professionals.
                </p>
                <div class="testimonial-one__client-info">
                  <div class="testimonial-one__client-img">
                    <img
                      src="/static/assets/images/testimonial/default.png"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-one__content">
                    <h3 class="testimonial-one__client-name">Maxine Lee</h3>
                    <p class="testimonial-one__client-sub-title">Customer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Testimonial One Single End-->
          <!--Testimonial One Single Start-->
          <div class="item">
            <div class="testimonial-one__single">
              <div class="testimonial-one__icon-quote">
                <img src="/static/assets/images/icon/icon-quote.png" alt="" />
              </div>
              <div class="testimonial-one__single-inner">
                <div class="testimonial-one__rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="testimonial-one__text-2">
                  My experience at Luks Spa & Aesthetics was unforgettable. The
                  ambiance was soothing, and the level of care provided by the
                  staff was exceptional..
                </p>
                <div class="testimonial-one__client-info">
                  <div class="testimonial-one__client-img">
                    <img
                      src="/static/assets/images/testimonial/default.png"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-one__content">
                    <h3 class="testimonial-one__client-name">
                      Tyrant Hernandez
                    </h3>
                    <p class="testimonial-one__client-sub-title">Customer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Testimonial One Single End-->
          <!--Testimonial One Single Start-->
          <div class="item">
            <div class="testimonial-one__single">
              <div class="testimonial-one__icon-quote">
                <img src="/static/assets/images/icon/icon-quote.png" alt="" />
              </div>
              <div class="testimonial-one__single-inner">
                <div class="testimonial-one__rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <p class="testimonial-one__text-2">
                  "I recently visited Luks Spa & Aesthetics, and it was an
                  absolutely amazing experience! "
                </p>
                <div class="testimonial-one__client-info">
                  <div class="testimonial-one__client-img">
                    <img
                      src="/static/assets/images/testimonial/default.png"
                      alt=""
                    />
                  </div>
                  <div class="testimonial-one__content">
                    <h3 class="testimonial-one__client-name">
                      Deelzy Dela Cruz
                    </h3>
                    <p class="testimonial-one__client-sub-title">Customer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Testimonial One Single End-->
        </div>
      </div>
    </div>
  </section>
  <!--Testimonial One End-->

  <!--Instagram Start-->
  <section class="instagram">
    <div class="container">
      <div class="instagram__title">
        <h3>Follow Luks Spa on Instagram</h3>
      </div>
      <div class="row">
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-1.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-2.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-3.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-4.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-5.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
        <!--Instagram Single Start-->
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="instagram__single">
            <div class="instagram__img">
              <img src="/static/assets/images/resources/ig/ig-6.png" alt="" />
              <div class="instagram__img-icon">
                <a href="https://www.instagram.com/luksspa.ph"
                  ><span class="fab fa-instagram"></span></a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Instagram Single End-->
      </div>
    </div>
  </section>
  <!--Instagram End-->

  <!--Spa Center Start-->
  <section class="spa-center">
    <div
      class="spa-center__bg jarallax"
      data-jarallax
      data-speed="0.2"
      data-imgPosition="50% 0%"
      style="background-image: url(/static/assets/images/backgrounds/background2.png);"
    >
    </div>
    <div class="spa-center__inner">
      <div class="container">
        <div class="spa-center__content text-center">
          <div class="spa-center__img">
            <img src="/static/assets/images/icon/spa.svg" alt="" />
          </div>
          <h3 class="spa-center__title">
            Step into a realm where <br />luxury meets serenity
          </h3>
          <div class="spa-center__btn-box">
            <a href="/contact/" class="thm-btn spa-center__btn">book now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Spa Center End-->

  <!--Google Map Start-->
  <section class="google-map">
    <div class="container">
      <div class="google-map__inner">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.4076194524723!2d121.06617907587254!3d13.754274886637912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd056348508d8f%3A0x690e6ebe9cf6fe53!2sLuks%20Spa%20and%20Aesthetics!5e0!3m2!1sen!2sph!4v1725359140499!5m2!1sen!2sph"
          class="google-map__one"
          allowfullscreen></iframe>
        <div class="google-map__opening-hours">
          <h4 class="google-map__opening-hours-title">Opening <br /> Hours</h4>
          <div class="google-map__opening-hours-icon">
            <span class="icon-time"></span>
          </div>
          <ul class="list-unstyled google-map__opening-hours-list">
            <li>
              <p>Open Daily</p>
              <h5>9:00am - 9:00pm</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
