---
import { getCollection } from 'astro:content';

const { pathname }  = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Luks Spa and Aesthetics " />
    <title>Home</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/assets/images/favicons/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/assets/images/favicons/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/assets/images/favicons/favicon.png"
    />
    <link
      rel="manifest"
      href="/static/assets/images/favicons/site.webmanifest"
    />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/animate/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/animate/custom-animate.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/fontawesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/jarallax/jarallax.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/nouislider/nouislider.pips.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/odometer/odometer.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/swiper/swiper.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/mellis-icons/style.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/tiny-slider/tiny-slider.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/reey-font/stylesheet.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/bxslider/jquery.bxslider.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="/static/assets/vendors/vegas/vegas.min.css" />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/jquery-ui/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/timepicker/timePicker.css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendors/twenty-twenty/twentytwenty.css"
    />
    <!-- template styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css"
      integrity="sha512-uHuCigcmv3ByTqBQQEwngXWk7E/NaPYP+CFglpkXPnRQbSubJmEENgh+itRDYbWV0fUZmUz7fD/+JDdeQFD5+A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/assets/css/mellis.css" />
    <link rel="stylesheet" href="/static/assets/css/mellis-responsive.css" />
  </head>

  <body>
    <div class="preloader">
      <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->

    <div class="page-wrapper">
      <header class="main-header">
        <div class="main-header__top">
          <div class="main-header__top-wrapper">
            <div class="main-header__top-inner">
              <div class="main-header__top-left">
                <ul class="list-unstyled main-header__contact-list">
                  <li>
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text">
                      <p>
                        <a href="reservations@lukscare.com"
                          >reservations@lukscare.com</a>
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fas fa-phone"></i>
                    </div>
                    <div class="text">
                      <p>
                        <a href="tel:09625660420"
                          >+63 9625660420 / +043 302 1022
                        </a>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="main-header__top-right">
                <div class="main-header__social">
                  <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                  <a href="https://www.facebook.com/lukshotelspa"
                    ><i class="fab fa-facebook"></i></a
                  >
                  <a href="https://www.instagram.com/luksspa.ph"
                    ><i class="fab fa-instagram"></i></a
                  >
                  <a href="https://www.tiktok.com/@luks.spa">
                    <i class="fab fa-tiktok"></i></a
                  >
                </div>
                <div class="main-header__btn-box">
                  <a href="/contact/" class="thm-btn main-header__btn"
                    >Book now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="main-menu">
          <div class="main-menu__wrapper">
            <div class="main-menu__wrapper-inner">
              <div class="main-menu__left">
                <div class="main-menu__logo">
                  <!-- <a href="/dashboard/"><img src="/static/assets/images/resources/luks_spa.png" alt="" width="300" height="80"></a> -->
                  <!-- <a href="/dashboard/"><img src="/static/assets/images/resources/sample.png" alt="" width="200" height="90"></a> -->
                  <a href="/"
                    ><img
                      src="/static/assets/images/resources/LO.png"
                      alt=""
                    /></a
                  >
                </div>
              </div>
              <div class="main-menu__main-menu-box">
                <a href="#" class="mobile-nav__toggler"
                  ><i class="fa fa-bars"></i></a
                >
                <ul class="main-menu__list">
                  <li class={pathname === "/" ? "current" : null}>
                    <a href="/">Home </a>
                  </li>
                  <li class={pathname.startsWith("/services") || pathname.startsWith("/services") ? `dropdown current` : "dropdown"}>
                    <a href="/services/">Our Services</a>
                  </li>
                  <li class={pathname.startsWith("/gallery") ? "current" : null}>
                    <a href="/gallery/">Gallery</a>
                  </li>
                  <li class={pathname.startsWith("/contact") ? "current" : null}>
                    <a href="/contact/">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <slot />

      <!--Site Footer Start-->
      <footer class="site-footer">
        <div class="site-footer__shape-1 float-bob-x">
          <img
            src="/static/assets/images/shapes/site-footer-shape-1.png"
            alt=""
          />
        </div>
        <div class="site-footer__shape-2 float-bob-y">
          <img
            src="/static/assets/images/shapes/site-footer-shape-2.png"
            alt=""
          />
        </div>
        <div class="container">
          <div class="site-footer__top">
            <div class="row">
              <div
                class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="100ms"
              >
                <div class="footer-widget__column footer-widget__contact-box">
                  <div class="footer-widget__contact">
                    <a href="mailto:reservations@lukscare.com"
                      >reservations@lukscare.com</a
                    >
                    <a href="tel:09625660420"
                      >+63 9625660420 / +043 302 1022
                    </a>
                  </div>
                  <div class="footer-widget__contact-form-box">
                    <div>
                      <div class="footer-widget__contact-form-input-box">
                        <input
                          type="email"
                          placeholder="Email address"
                          name="EMAIL"
                        />

                        <a href="/contact/">
                          <button
                            type="submit"
                            class="footer-widget__newsletter-btn"
                            ><img
                              src="/static/assets/images/icon/paper-plan-icon 1.png"
                              alt=""
                            /></button
                          ></a
                        >
                      </div>
                    </div>
                    <div class="mc-form__response"></div>
                  </div>
                </div>
              </div>
              <div
                class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="200ms"
              >
                <div class="footer-widget__column footer-widget__links">
                  <div class="footer-widget__title-box">
                    <h4 class="footer-widget__title">Links</h4>
                  </div>
                  <ul class="footer-widget__links-list list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/gallery/">Gallery</a></li>
                    <li><a href="/contact/">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div class="footer-widget__column footer-widget__timing">
                  <div class="footer-widget__title-box">
                    <h4 class="footer-widget__title">Timing</h4>
                  </div>
                  <ul class="footer-widget__timing-list list-unstyled">
                    <li>Open Daily</li>
                    <li>9:00am - 9:00pm</li>
                  </ul>
                </div>
              </div>
              <div
                class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
                data-wow-delay="400ms"
              >
                <div class="footer-widget__column footer-widget__social-box">
                  <div class="site-footer__social">
                    <a href="https://www.facebook.com/lukshotelspa"
                      ><i class="fab fa-facebook"></i></a
                    >
                    <a href="https://www.instagram.com/luksspa.ph"
                      ><i class="fab fa-instagram"></i></a
                    >
                    <a href="https://www.tiktok.com/@luks.spa">
                      <i class="fab fa-tiktok"></i></a
                    >
                  </div>
                  <p>5 M.Pastor Ave, Batangas City, <br /> 4200 Batangas</p>
                </div>
              </div>
            </div>
          </div>
          <div class="site-footer__bottom">
            <div class="row">
              <div class="col-xl-12">
                <div
                  class="site-footer__bottom-inner"
                  style="display: flex; justify-content: center;"
                >
                  <p class="site-footer__bottom-text">
                    © Copyright {new Date().getFullYear()} by <a href="#"
                      >Luks Spa & Aesthetics</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i></span
        >
        <div class="logo-box">
          <a href="/" aria-label="logo image"
            ><img
              src="/static/assets/images/resources/logo_spa_sm.png"
              width="130"
              alt=""
            /></a
          >
        </div>
        <div class="mobile-nav__container"></div>
        <ul class="mobile-nav__contact list-unstyled">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:reservations@lukscare.com"
              >reservations@lukscare.com</a
            >
          </li>
          <li>
            <i class="fa fa-phone-alt"></i>
            <a href="tel:09625660420">+63 9625660420 / +043 302 1022 </a>
          </li>
        </ul>
        <div class="mobile-nav__top">
          <div class="mobile-nav__social">
            <a href="https://www.facebook.com/lukshotelspa"
              ><i class="fab fa-facebook"></i></a
            >
            <a href="https://www.instagram.com/luksspa.ph"
              ><i class="fab fa-instagram"></i></a
            >
            <a href="https://www.tiktok.com/@luks.spa">
              <i class="fab fa-tiktok"></i></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">search here</label
          ><!-- /.sr-only -->
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="icon-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="fa fa-angle-up"></i></a
    >

    <script is:inline src="/static/assets/vendors/jquery/jquery-3.6.0.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script is:inline src="/static/assets/vendors/jarallax/jarallax.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script
      is:inline
      src="/static/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/jquery-validate/jquery.validate.min.js"
    ></script>
    <script is:inline src="/static/assets/vendors/nouislider/nouislider.min.js"
    ></script>
    <script is:inline src="/static/assets/vendors/odometer/odometer.min.js"
    ></script>
    <script is:inline src="/static/assets/vendors/swiper/swiper.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script is:inline src="/static/assets/vendors/wnumb/wNumb.min.js"></script>
    <script is:inline src="/static/assets/vendors/wow/wow.js"></script>
    <script is:inline src="/static/assets/vendors/isotope/isotope.js"></script>
    <script is:inline src="/static/assets/vendors/countdown/countdown.min.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script
      is:inline
      src="/static/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script
      is:inline
      src="/static/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"
    ></script>
    <script is:inline src="/static/assets/vendors/vegas/vegas.min.js"></script>
    <script is:inline src="/static/assets/vendors/jquery-ui/jquery-ui.js"
    ></script>
    <script is:inline src="/static/assets/vendors/timepicker/timePicker.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/circleType/jquery.circleType.js"></script>
    <script
      is:inline
      src="/static/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script
      is:inline
      src="/static/assets/vendors/sidebar-content/jquery-sidebar-content.js"
    ></script>
    <script is:inline src="/static/assets/vendors/twenty-twenty/twentytwenty.js"
    ></script>
    <script
      is:inline
      src="/static/assets/vendors/twenty-twenty/jquery.event.move.js"></script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
      integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script is:inline src="/static/assets/js/mellis.js"></script>
  </body>
</html>
